.first_page {
    /* background-color: pink; */
    width: 32%;
    display: flex;
    justify-content: center;
    margin: 99px auto;
    height: 66vh;
}
.form{
    margin: auto;
    width: 400px;
}

.email {
    /* background: yellow; */
    text-align: center;
    width: 20%;
}
#email{
    border-radius: 19px;
    width: 350px;
    padding: 14px 4px 14px 14px; 
    margin: 13px 0px 0px 0px;
}
.error_email{
    width: 214px;
    margin-top: 0px;
    color: red;

}
.password {
    /* background: yellow; */
    text-align: center;
    width: 25%;
}
.confirm{
    text-align: center;
    width: 44% !important;
}
.error_password{
    width: 179px;
    margin-top: 0px;
    color: red;

}
.confirm_password{
    text-align: center;
    width: 30%;
}
.error_passwordconfirm{
    width: 167px;
    margin-top: 0px;
    color: red;
    margin-left: 14px;
}
#password{
    border-radius: 19px;
    width: 350px;
    padding: 14px 4px 14px 14px; 
    margin: 13px 0px 0px 0px;


}
.p-relative{
    position: relative;
}
.p-absolute{
    position:absolute;
}
#password::placeholder{
    font-size: 15px;
}
.icons
{
    top: 43px;
    left: 327px;

}
.confirm_password_icons{
    top: 42px;
    left: 334px;
}
.btn-next{
    background-color: yellow;
    cursor: pointer;
    text-align: center;
    width: 38%;
    margin: 13px auto;
    padding: 10px;
    border-radius: 17px;
}


/* second page  */
.second_page {
    /* background-color: pink; */
    width: 32%;
    display: flex;
    justify-content: center;
    margin: 99px auto;
}
.second_form{
    margin: 32px auto;
    width: 286px;
}
.f_name{
    margin-bottom: 5px;
}
#f_name{
    width: 313px;
    margin-top: 9px;
    padding: 14px;
    border-radius: 27px;
    margin-bottom: 10px;

}
#f_name::placeholder{
    font-size: 15px;
}
.l_name{
    margin-bottom: 5px;
}
#l_name{
    width: 313px;
    margin-top: 9px;
    padding: 14px;
    border-radius: 27px;
    margin-bottom: 10px;

}
#l_name::placeholder{
    font-size: 15px;
}
.gender{
    margin: 13px 0px;
    font-size: 18px;
}
.button_radio{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 12px;
}

.phone{
    margin-bottom: 5px;
    font-size: 19px;
}
#phone{
    width: 313px;
    margin-top: 9px;
    padding: 14px;
    border-radius: 27px;
    margin-bottom: 10px;

}
#phone::placeholder{
    font-size: 15px;
}
#hobbies{


    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;

}

.btn_second{
    width: 85px;
    border: none;
    margin: 0px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 15px;
    border-radius: 28px;
}

.high{
    margin:10px 0px 
}

.flex-direction{
    flex-direction: column;
}
.error_firstname{
    width: 167px;
    margin-top: -7px;
    color: red;
    margin-left: 14px;
}
.error_lastname{
    width: 167px;
    margin-top: -7px;
    color: red;
    margin-left: 14px;
}
.error_number{
    width: 214px;
margin-top: -8px;
color: red;
margin-left: 16px;
}


/* fouth page css */
#imge_file{
    width: 200px;
}
.preview_img{
    width: 56px;

}


input[type=file]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }
/* review page  */
.accordin_page{
    width: 32%;
    justify-content: center;
    margin: 99px auto;

}
.accordion-content-login{
    background-color: #cdc5c561;
    padding-top: 18px;
    padding-bottom: 20px;
}
.accordion-content-login p{
    margin: 12px 48px;
}
.accordion-content-user{
    background-color: #cdc5c561;
    padding-top: 18px;
    padding-bottom: 20px;
}
.accordion-content-user p{
    margin: 12px 48px;
}
.data{
    display: flex;
    background: yellow;
    justify-content: space-around;
    width: 100%;
    font-size: 26px;
}